<h1>Data Sets</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Id title</th>
      <th>X title</th>
      <th>Y title</th>
      <th>Radius title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data_sets.each do |data_set| %>
      <tr>
        <td><%= data_set.title %></td>
        <td><%= data_set.id_title %></td>
        <td><%= data_set.x_title %></td>
        <td><%= data_set.y_title %></td>
        <td><%= data_set.z_title %></td>
        <td><%= link_to 'Show', data_set %></td>
        <td><%= link_to 'Edit', edit_data_set_path(data_set) %></td>
        <td><%= link_to 'Destroy', data_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>Import Data</h2>
<%= form_tag import_data_sets_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload CSV" %>
<% end %>
