<p id="notice"><%= notice %></th>

<h1> <%= @data_set.title %> </h1>

<%= content_tag(:div, content_tag(:svg, "", class: "quadrant_area"), id: "quadrant_data", data: {items: @data_set.chart_data }) %>

<table>
  <thead>
    <tr>
      <th> <%= @data_set.id_title %> </th>
      <th> <%= @data_set.x_title %> </th>
      <th> <%= @data_set.y_title %> </th>
      <th> <%= @data_set.z_title %> </th>
    </tr>
  </thead>

  <tbody>
  <% @data_set.row_items.each do |row| %>
    <tr>
      <td> <%= row.id_text %> </td>
      <td> <%= row.x_data %> </td>
      <td> <%= row.y_data %> </td>
      <td> <%= row.z_data %> </td>
    </tr>
  </tbody>
  <% end %>
</table>

<%= link_to 'Edit', edit_data_set_path(@data_set) %> |
<%= link_to 'Back', data_sets_path %>

<% javascript_include_tag "data_set_chart" %>
