<h1>Listing row_items</h1>

<table>
  <thead>
    <tr>
      <th>Id text</th>
      <th>X data</th>
      <th>Y data</th>
      <th>Radius data</th>
      <th>Data set</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @row_items.each do |row_item| %>
      <tr>
        <td><%= row_item.id_text %></td>
        <td><%= row_item.x_data %></td>
        <td><%= row_item.y_data %></td>
        <td><%= row_item.z_data %></td>
        <td><%= row_item.data_set %></td>
        <td><%= link_to 'Show', row_item %></td>
        <td><%= link_to 'Edit', edit_row_item_path(row_item) %></td>
        <td><%= link_to 'Destroy', row_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Row item', new_row_item_path %>
