<h1>Practice Data</h1>

<select name="test" id ="month_selector">
  <%= options_for_select(PracticeDatum.chart_data.map{ |e| [e["month"].to_s, e["month"]]}.uniq.sort, 2 ) %>
</select>

<%= content_tag(:div, "", id: "key-array", data: {items: @practice_data.map(&:practice).uniq.sort }) %>
<%= content_tag(:div, "", id: "pie_practice_data", data: {items: PracticeDatum.chart_data }) %>

<div id="legend" class="legend-container"> </div>

<table>
  <thead>
    <tr>
      <th>Practice</th>
      <th>Month</th>
      <th>Count</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @practice_data.each do |practice_datum| %>
      <tr>
        <td><%= practice_datum.practice %></td>
        <td><%= practice_datum.month %></td>
        <td><%= practice_datum.count %></td>
        <td><%= practice_datum.value %></td>
        <td><%= link_to 'Show', practice_datum %></td>
        <td><%= link_to 'Edit', edit_practice_datum_path(practice_datum) %></td>
        <td><%= link_to 'Destroy', practice_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Practice datum', new_practice_datum_path %>
